<?xml version="1.0"?>
<launch>

    <node name="body_kinematics_node" pkg="tinyquad_planner" type="body_kinematics_node" output="screen"/>
    
    <node name="joy_node" pkg="joy" type="joy_node" output="screen"/>

    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tinyquad_description)/rviz/tinyquad.rviz" /> -->

</launch>