<launch>
    <arg name="model" />

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find tinyquad_description)/urdf/tinyquad.urdf.xacro" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tinyquad_description)/rviz/tinyquad.rviz" />

    <include file="$(find tinyquad_description)/launch/gazebo.launch" />
</launch>