<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" >
  <xacro:include filename="$(find tinyquad_description)/urdf/tinyquad_leg.xacro" />

  <xacro:macro name="tinyquad">
    <link name="base_footprint" >
      <origin xyz="0.0103120639734149 3.57028601323102E-12 -5.09987831894361E-06" rpy="0 0 0"/>
    </link>
    <link
      name="base_link">
      <inertial>
        <origin 
          xyz="0.0103120639734149 3.57028601323102E-12 -5.09987831894361E-06"
          rpy="0 0 0" />
        <mass
          value="0.673746391598589" />
        <inertia
          ixx="0.000240394302807336"
          ixy="4.72346918508225E-15"
          ixz="1.34348270128604E-09"
          iyy="0.00581273765980766"
          iyz="5.80749294518212E-10"
          izz="0.00598610621622578" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://tinyquad_description/meshes/base_link.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://tinyquad_description/meshes/base_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="base_joint" type="fixed" >
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="base_footprint" />
      <child link="base_link" />
    </joint>

    <xacro:leg pose_prefix="LF" x_mirror="1" y_mirror="1" x_offset="0.15711"/>
    <xacro:leg pose_prefix="RF" x_mirror="1" y_mirror="-1" x_offset="0.15711"/>
    <xacro:leg pose_prefix="LB" x_mirror="1" y_mirror="1" x_offset="-0.082893"/>
    <xacro:leg pose_prefix="RB" x_mirror="1" y_mirror="-1" x_offset="-0.082893"/>

  </xacro:macro>
  
</robot>
